backend/node_modules/
frontend/node_modules/
backend/dist/
frontend/dist/
.env
.DS_Store
.vscode/
.idea/
*.log
*.env
*.pem
*.key
*.crt
*.pfx
*.cer
*.csr
*.srl
*.jks
*.keystore
*.p12
backend/.env
frontend/.env
bakend/venv/
frontend/venv/
venv/
__pycache__/
*.pyc
venv/
__pycache__/
*.pyc
.env
